<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">🚀 Versatile Engineer with a passion for product management.</p>
<p class="description" data-aos="fade-down">🔧 Proven track record in scalable cloud-based solutions using AWS and Golang.</p>
<p class="description" data-aos="fade-down">💡 Strong background in computer science fundamentals, API development, and mentoring.</p>
<p class="description" data-aos="fade-down">🔍 Eager to explore the dynamic realm of product management and drive success.</p>
<p class="description" data-aos="fade-down">🌟 Ready to embrace new challenges and make an impact!</p>
